<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <%= link_to "Mi perfil", users_profile_path%>
    </li>
    <li>
      <%= link_to "Editar mi perfil", edit_user_registration_path%>
    </li>
    <li>
      <%= link_to "Cambiar contraseña", new_user_password_path%>
    </li>
  </ul>
</div>
