  <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Entra y añade tu album!</div>
          <div class="intro-heading text-uppercase">Mantenlo guardado para siempre en la nube</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="http://myphotoalbumtest.herokuapp.com/albums/new">Añadir album</a>
        </div>
      </div>
    </header>
