// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-medi{
  padding: 1%;
}
.center-images{
  float: none;
  margin: 0 auto;
}
.pagination {
  display: flex;
  justify-content: center;
}
